$dark-background: #f1f1f1;
$dark-backgorund-hover: #333;
$dark-font-color: #ccc;

@import url('https://fonts.googleapis.com/css?family=Lato');

$dark-background: #fff;
$dark-backgorund-hover: #333;
$dark-header-background: #f1f1f1;
$dark-font-color: #000;
$arrow-color: #8c939a;
$button-background-hover: #666;
$button-background-focus: #595959;
$button-padding: 15px;
$button-border-size: 8px;
$day-soft-color: #cccfd3;

.calendar {
  color: $dark-font-color;
  float: left;
  font-family: 'Lato', sans-serif;
  height: 300px;
  margin-left: 50%;
  margin-top: 25px;
  position: relative;
  transform: translateX(-50%);
  width: 100%;
}

.calendar_header {
  background-color: $dark-header-background;
  float: left;
  font-size: 18px;
  height: 50px;
  line-height: 2.78;
  position: relative;
  text-align: center;
  width: 100%;
}

.button_container {
  height: 100%;
  position: relative;

  &__left {
    float: left;
  }

  &__right {
    float: right;
  }
}

.button_content {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  height: 100%;
  padding-left: $button-padding;
  position: relative;
  transition: background .3s ease;

  &:hover {
    background-color: $button-background-hover;
  }

  &:focus {
    outline: 0;
  }

  &__left {
    &::before {
      border-bottom: $button-border-size solid transparent;
      border-right: $button-border-size solid $arrow-color;
      border-top: $button-border-size solid transparent;
      content: '';
      display: inline-block;
      height: 0;
      margin-right: 10px;
      vertical-align: middle;
      width: 0;
      float: left;

    }
  }

  &__right {
    &::before {
      border-bottom: $button-border-size solid transparent;
      border-left: $button-border-size solid $arrow-color;
      border-top: $button-border-size solid transparent;
      content: '';
      display: inline-block;
      height: 0;
      margin-right: 10px;
      vertical-align: middle;
      width: 0;
      float: right;
    }
  }
}

.week {
  float: left;
  width: 100%;
}

.weekday {
  background-color: $dark-background;
  float: left;
  height: 40px;
  line-height: 2.5;
  text-align: center;
  width: 14.28%;
}

.day {
  background-color: $dark-background;
  box-sizing: border-box;
  float: left;
  font-weight: 300;
  height: 50px;
  padding: 10px 0;
  position: relative;
  text-align: center;
  transition: background .2s ease;
  width: 14.28%;
  z-index: 999;

  border: 1px solid #d0d4d9;

  &__soft {
    color: $day-soft-color;
  }
  &:active {
    border: 1px solid #e10246;
    font-weight: bold;
  }

  
}
  .active {
    border: 1px solid #e10246;
    font-weight: bold;
  }